<template>
    <div id="app">
        <h1>a-g grid demo</h1>
        <ag-grid-vue 
                 class="ag-theme-alpine-dark container"
                 :columnDefs="columnDefs"
                 :rowData="rowData"
                 rowSelection="multiple">
    </ag-grid-vue>
    </div>
</template>

<script>
    import {AgGridVue} from "ag-grid-vue";

    export default {
        name: 'App',
        data() {
            return {
                columnDefs: null,
                rowData: null,
                gridApi: null,
                columnApi: null,
                autoGroupColumnDef: null
            }
        },
        components: {
            AgGridVue
        },
        beforeMount() {
            this.columnDefs = [
                {headerName: 'Make', field: 'make',sortable: true, filter: true, checkboxSelection: true },
                {headerName: 'Model', field: 'model', sortable: true, filter: true},
                {headerName: 'Price', field: 'price', sortable: true, filter: true}
            ];

            fetch('https://raw.githubusercontent.com/ag-grid/ag-grid/master/grid-packages/ag-grid-docs/src/sample-data/rowData.json')
                .then(result => result.json())
                .then(rowData => this.rowData = rowData);
        }
    }
</script>

<style lang="scss">
   @import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
  @import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine-dark.css";
  #app {
    text-align: -webkit-center;
    h1 {
      font-family:Arial, Helvetica, sans-serif
    }
    .container {
      height: 700px;
      max-width: 700px;
    }
  }
</style>